<div class="header">
    <h1><%= model.get('name') %></h1>
    <div class="volume-buttons">
        <% if (!model.get('status')) { %>
        <a href="/" id="volume-start-button" class="pure-button volume-start-button">Start</a>
        <% } %>
    </div>
</div>
<div class="content">
    <h2 class="content-subhead">Volume Information</h2>
    <table class="pure-table pure-table-horizontal">
        <tbody>
        <tr>
            <td>id</td>
            <td><%= model.get('id') %></td>
        </tr>
        <tr>
            <td>status</td>
            <td><%= model.get('status') %></td>
        </tr>
        <tr>
            <td>type</td>
            <td><%= model.get('type') %></td>
        </tr>
        <tr>
            <td>replica count</td>
            <td><%= model.get('replica_count') %></td>
        </tr>
        <tr>
            <td>number of bricks</td>
            <td><%= model.get('brick_count') %></td>
        </tr>
        </tbody>
    </table>
    <h2 class="content-subhead">Volume Options</h2>
    <table class="pure-table pure-table-horizontal">
        <tbody>
        <% _.each(model.get('options'), function(value, key) { %>
        <tr>
            <td><%= key %></td>
            <td><%= value %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <h2 class="content-subhead">Brick Layout</h2>
    <div id="directory-tree"></div>
    <div id="brick-chart"></div>
    <h2 class="content-subhead">Client Layout</h2>
    <textarea id="client-layout">/,gv0-client-1,0,1431655764,192.168.175.130,/export/sdc1/brick /,gv0-client-2,1431655765,2863311529,192.168.175.130,/export/sdd1/brick /,gv0-client-0,2863311530,4294967295,192.168.175.130,/export/sdb1/brick
/dir,gv0-client-0,0,1431655764,192.168.175.130,/export/sdb1/brick /dir,gv0-client-2,1431655765,2863311529,192.168.175.130,/export/sdd1/brick /dir,gv0-client-1,2863311530,4294967295,192.168.175.130,/export/sdc1/brick
/dir/dir_i_a,gv0-client-1,0,1431655764,192.168.175.130,/export/sdc1/brick /dir/dir_i_a,gv0-client-0,1431655765,2863311529,192.168.175.130,/export/sdb1/brick /dir/dir_i_a,gv0-client-2,2863311530,4294967295,192.168.175.130,/export/sdd1/brick
/dir/dir_i_b,gv0-client-0,0,1431655764,192.168.175.130,/export/sdb1/brick /dir/dir_i_b,gv0-client-2,1431655765,2863311529,192.168.175.130,/export/sdd1/brick /dir/dir_i_b,gv0-client-1,2863311530,4294967295,192.168.175.130,/export/sdc1/brick
/dir_a,gv0-client-0,0,1431655764,192.168.175.130,/export/sdb1/brick /dir_a,gv0-client-2,1431655765,2863311529,192.168.175.130,/export/sdd1/brick /dir_a,gv0-client-1,2863311530,4294967295,192.168.175.130,/export/sdc1/brick
/test,gv0-client-0,0,1431655764,192.168.175.130,/export/sdb1/brick /test,gv0-client-2,1431655765,2863311529,192.168.175.130,/export/sdd1/brick /test,gv0-client-1,2863311530,4294967295,192.168.175.130,/export/sdc1/brick
/dir_b,gv0-client-1,0,1431655764,192.168.175.130,/export/sdc1/brick /dir_b,gv0-client-2,1431655765,2863311529,192.168.175.130,/export/sdd1/brick /dir_b,gv0-client-0,2863311530,4294967295,192.168.175.130,/export/sdb1/brick
</textarea><a id="client-button">Go</a>
    <div id="client-directory-tree"></div>
    <div id="client-brick-chart"></div>
</div>